<template>
  <div >
      <h1>Products List </h1>
      <img v-if="loading" src="https://opoderdaleituracom.files.wordpress.com/2018/05/load.gif?w=765&h=510" >
      <ul v-else>
        <li v-for="product in products" :key="product.id">
          {{ product.title }} - {{ product.price | currency }} - {{ product.inventory }}
          <button :disabled="!productIsInStock(product)" @click="addProductToCart(product)" >Add Product</button>
        </li>
      </ul>
  </div>
</template>

<script>
  import {mapState, mapGetters, mapActions} from 'vuex'

  export default {
    data () {
      return {
        loading: false,
        productIndex: 1
      }
    },

    computed: {

      ...mapState({
        products: state => state.products.items
      }),

      ...mapGetters('products',{
        productIsInStock: 'productIsInStock'
      })

    },
    methods: {
      ...mapActions({
        fetchProducts: 'products/fetchProducts',
        addProductToCart: 'cart/addProductToCart'
      })
    },

    created() {
      this.loading = true
      this.fetchProducts()
        .then(() => this.loading = false)
    }
  }
</script>

<style lang="css">
</style>
