<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Shopping List App</title>
      <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div id="shopping-list">

      <div class="header">
        <h1>{{ header.toLocaleUpperCase() }}</h1>
        <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add \_0_/</button>
        <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel \_0_/</button>
      </div>

      <div v-if="state === 'edit'" class="add-item-form">
        <input v-model="newItem" type="text" placeholder="Add a new item" @keyup.enter="saveItem">
        <button class="btn btn-primary" v-bind:disabled="newItem.length === 0" @click="saveItem" >Save \_0_/</button>
      </div>

      <ul>
        <li v-for="item in reversedItems" :class="{strikeout: item.purchased }" @click="togglePurchased(item)">{{ item.label }}</li>
      </ul>

      <p v-if="items.length === 0">Não tem items \_0_/</p>

    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
      new Vue({
          el: '#shopping-list',
          data: {
            state: 'default',
            header: 'shopping list app',
            newItem: '',
            items: [
              {
                label: 'Star Wars /_0_/',
                purchased: true,
              },
              {
                label: 'Star Trek /_0_/',
                purchased: true,
              },
              {
                label: 'Stars *-* /_0_/',
                purchased: false,
              },
            ]
          },
          computed: {
            reversedItems() {
              return this.items.slice(0).reverse();
            }
          },
          methods: {
            saveItem: function() {
              this.items.push({
                label: this.newItem,
                purchased: false,
              });
              this.newItem = '';
            },
            changeState: function(newState) {
              this.state = newState;
              this.newItem = '';
            },
            togglePurchased: function(item){
              item.purchased = !item.purchased;
            }
          }
      });
    </script>
  </body>
</html>
